<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head"); %> 
</head>
<body>
    <header>
        <h1><%= link.title %> </h1>
    </header>
    <main>
        <a href="/">Back</a> <br>
        <a href="<%= link.url %>" target="_blank"><%= link.title %> </a>
            <% if(link.url.includes("youtube.com")){ %>
                <% let embedUrl = link.url.slice(32) %>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= embedUrl %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% }%>
            <% if(link.description) { %> 
                <p><%= link.description %> </p>
            <% } %> 
    </main>
    
</body>
</html>